Assignment_2/Questions/Ali Sadeghi_final.pdf
Assignment_2/Questions/ML4032_MP1 (1).pdf
Assignment 3/code/archive.zip
Assignment 3/ML_miniProject2_Amiri_Jahangard.zip
Assignment_2/Assignment_2_code/Assignment_2_code.rar
Assignment_2/Assignment_2_code/code.ipynb
Assignment_2/Assignment_2_code/Submission/ML_Mini_Project1_Q2.ipynb
Assignment_2/Assignment_2_code/code.ipynb
Assignment_2/Assignment_2_code/code.ipynb
Assignment_2/Assignment_2_code/code.ipynb
Assignment_2/Assignment_2_code/code.ipynb
Assignment_2/Assignment_2_code/code.ipynb
